:root {
  --primary: #cfe7e6;
  --secondary: #9cb1b0;
  --accent: #494f4a;
  --dark-text: #494f4a;
  --light-text: #dddfdd;
  --warning: #a66b6f;
}

.card-wrapper {
  width: 100%;
  height: auto;
  border-radius: 0.2vh;
  box-shadow: 0 2px 10 5 var(--dark-text);
  border: 1px var(--dark-text);
}

.card-header {
  width: 100%;
  height: auto;
}

.card-img {
  width: 100%;
  height: auto;
}
